nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBCBA5;
  padding-top:5em;
  padding-bottom:3em;
  
  
}
.nav-links .hamsterWar {
  font-size: 2em;
  font-family: 'Bebas Neue', 'Arial Black', monospace;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-family: 'Montserrat';
  
}

a:link {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

.hero-image {
  width: 100%;
  height: auto;
  background-color: #FBCBA5;
}
.mainHeadline {
  font-family: 'Bebas Neue', 'Arial Black', monospace;
  font-size: 5em;
  margin:0
}
.pHeadQuestion {
  text-align: center;
  margin-bottom:0;
  margin-top:2em;
  font-family: 'Montserrat';
}
main p {
  text-align: center;
  margin:1em 26em;
  font-family: 'Montserrat';
}
main {
  margin-bottom:4em;
  margin-top:4em;
  text-align:center;
}
footer {
  background-color: #FBCBA5;
  height: 4vh;
}